<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Zazl Jetty Server"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true -Dorg.dojotoolkit.zazl.jetty.ROOT_PATH=${workspace_loc}/org.dojotoolkit.zazl.samples/resources -Djava.util.logging.config.file=${workspace_loc}/org.dojotoolkit.zazl.jetty/logging.properties -DsearchBundleIds=org.dojotoolkit.dojo,org.dojotoolkit.compressor.uglifyjs,org.dojotoolkit.optimizer,org.json,org.uglifyjs,org.dojotoolkit.server.util.js"/>
<stringAttribute key="pde.version" value="3.3"/>
<setAttribute key="selected_features">
<setEntry value="org.dojotoolkit.compressor.feature:default"/>
<setEntry value="org.dojotoolkit.optimizer.feature:default"/>
<setEntry value="org.dojotoolkit.prereq.dojo15:default"/>
<setEntry value="org.dojotoolkit.prereqs.feature:default"/>
<setEntry value="org.dojotoolkit.server.util.feature:default"/>
<setEntry value="org.dojotoolkit.zazl.feature:default"/>
<setEntry value="org.dojotoolkit.zazl.jetty.feature:default"/>
<setEntry value="org.dojotoolkit.zazl.samples.feature:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="true"/>
<stringAttribute key="target_bundles" value="javax.servlet,org.apache.commons.logging*1.1.1.v201005080502@default:default,org.mozilla.javascript@default:default,org.eclipse.equinox.common,org.dojotoolkit.dojo*1.5.0,org.mortbay.jetty.server,org.eclipse.osgi@-1:true,org.json@default:default,org.eclipse.osgi.services,org.apache.httpcomponents.httpclient@default:default,org.uglifyjs@default:default,org.mortbay.jetty.util,org.dojotoolkit.shrinksafe@default:default,org.eclipse.equinox.registry,org.dojotoolkit.dojo*1.6.0,org.apache.httpcomponents.httpcore@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="org.dojotoolkit.compressor.uglifyjs.rhino,org.dojotoolkit.compressor.uglifyjs.v8,org.dojotoolkit.json@default:default,org.dojotoolkit.zazl.optimizer,org.dojotoolkit.optimizer.v8,org.dojotoolkit.zazl.servlet,org.dojotoolkit.zazl@default:default,org.dojotoolkit.zazl.servlet.osgi,org.dojotoolkit.rt.v8@default:default,org.dojotoolkit.server.util@default:default,org.dojotoolkit.optimizer@default:default,org.dojotoolkit.compressor.shrinksafe@default:default,org.dojotoolkit.compressor@default:default,org.dojotoolkit.zazl.jetty,org.dojotoolkit.optimizer.servlet,org.dojotoolkit.optimizer.rhino@default:default,org.dojotoolkit.zazl.samples,org.dojotoolkit.compressor.uglifyjs@default:default"/>
</launchConfiguration>
